@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
  --negr: #353535;
  --secondary: #808080;
  --cum: #ffffff;
  --blood: #ff6060;
  --orange: #ff7f24;
  --border: #ececec;
  --zelenka: #19bb86;
  --blacked: #000000;
  --ghost: #cfcfcf;
}



 /*elements*/
 .container {
    margin-left: 20px;
    margin-right: 20px;
 }
 .back-button{
   display: block;
   text-decoration: none;
   cursor: pointer;
   background-color: var(--blood);
   color: var(--cum);
   padding: 8px 0;
 } 
.back-button img {
   position: relative;
   top: 3px;
   margin-right: 5px;
}
.tag-button{
   cursor: pointer;
   padding: 10px 45px;
   background-color: var(--border);
   color: var(--secondary);
   font-size: 12px;
   border-radius: 5px;
   border: none;
}

 /*components*/
 .header{
    background-color: var(--negr);
    padding: 10px 0;
    width: 100%;
    position: fixed;
 } 
 .mobile-block {
   min-height: 100%;
   padding-top: 55px;
 }
 .btn-category {
    cursor: pointer;
 }
 .mobile-block__header  {
   padding: 8px 0;
   text-align: center;
   font-size: 12px;
   color: var(--cum);
 }
 .is-secondary {
   background-color: var(--secondary);
}
.is-zelenka {
   background-color: var(--zelenka);
}
.is-orange {
   background-color: var(--orange);
}
.news-card{
   text-decoration: none;
   display: block;
   color: var(--blacked);
   cursor: pointer;
   padding: 15px 0;
   border-bottom: 2px solid var(--border);
}
.news-card__title  {
   font-size: 12px;
   margin-bottom: 10px;
}
.news-card__date, .news-card__category{
   display: block;
   margin-bottom: 10px;
   font-size: 12px;
   color: var(--secondary);
}
.post-detail-block {
   padding: 30px 0;
}
.post-detail-block .news-card__title, .post-detail-block .news-card__date{
   margin-bottom: 15px;
}
.description {
   font-size: 12px;
   margin-bottom: 15px;
}
.post-detail{
   width: 100%;
   padding: 22px;
   margin: 22px;
}
.post-detail-block img {
   width: 50%;
   margin: 0 auto;
   display: block;
   border-radius: 10px;
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}



.category-row {
   display: grid;
   grid-template-columns: 50% 50%;
   justify-content: center;
   gap: 20px;
   padding: 20px 0;

   
}
.category-item {
   text-decoration: none;
   cursor: pointer;
   border: 1.5px solid var(--border);
   color: var(--blacked);
   padding: 30px;
   text-align: center;
   border-radius: 30px;
   transition: 0.3 ease-in-out;
}
.category-item:hover {
   background-color: var(--border);
   color: var(--secondary);

}
   
.category-item__img, .category-item__title {
   display: block;
}
.category-item__img {
   width: 48px;
   height: 48px;
   margin: 0 auto;
   margin-bottom: 30px;

}



.centered {
   text-align: center;
}
.loading-card {
   padding: 12px 0;
   border-bottom: 1px solid var(--border);
}
.loading-detail {
   padding: 30px 0;
}
.loading-row {
   gap: 20px;
   padding: 30px 0;
   display: grid;
   grid-template-columns: auto auto;
}
.loading-item {
   border: 1.5px solid var(--border);
   padding: 30px;
   border-radius: 30px;
}
.skeleton-icon{
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background-color: var(--border);
   animation: ghost 1s infinite linear;
   margin: 0 auto;
}
.skeleton-small-text {
   margin: 0 auto;
   width: 100px;
   border-radius: 8px;
   height: 20px;
   background-color: var(--border);
   animation: ghost 1s infinite linear;
   margin-top: 20px;
}
.skeleton-title, .skeleton-text, .skeleton-big-text, .skeleton-image {
   width: 100%;
   background-color: var(--border);
   border-radius: 8px;
   animation: ghost 1s infinite linear;
   margin-bottom: 10px;
}
.skeleton-title {
   height: 25px;
}
.skeleton-text {
   height: 15px;
}
.skeleton-big-text{
   height: 120px;
}
.skeleton-image {
   height: 220px;
}
@keyframes ghost {
   0%{
      background-color: var(--border);
   }
   50%{
      background-color: var(--ghost);
   }
   100%{
      background-color: var(--border);
   }
}

.error {
   background-color: var(--blood);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: var(--cum);

}
.error-title {
   font-size: 16px;
   margin-bottom: 10px;
}
.error-description {
    font-size: 12px;
    margin-bottom: 12px;
}
.white-btn {
   border-radius: 10px;
   border: none;
   padding: 10px 45px;
   text-decoration: none;
   background-color: var(--cum);
   color: var(--blood);
   display: inline-block;
   font-size: 12px;
}